body{
	margin:0px;
	padding:0px;
	font-family: serif;
	font-style: italic;
	background: rgb(8, 84, 51);
}
.box{
	padding:5px;
	max-width: 960px;
	width:95px;
	margin:20px auto;
}

.p1{
    padding:0;
	max-width: 200px;
	width:90px;
	margin:2px margin-left;
	background:#5AEFE6  ;

}

header {
	padding: 0 15px;
	text-align: center;
	font-size: 21px;
}
.columns{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column{
	flex:1;
	border: 1px solid #666;
	margin:2px;
	padding: 10px;
	background: #96D6BA;
	transition: 0.3s
}
.column:first-child{
	margin-left: 0;
	background:#B6E7D1;
}
.column:last-child{
	margin: 0;
	background:#B6E7D1;
}
@media screen and (max-width: 992px){
	.columns .column
	{
		margin-bottom:5px;
		flex-basis:40%;
	}
	.columns .column:last-child{
		flex-basis:100%;
		margin:0;
	}
	.columns .column:nth-last-child(2){
		
		margin-right:0;
}

@media screen and (max-width: 768px){
	.columns .column{
		flex-basis:100%;
		margin:0 0 5px 0;
	}
}